@model GroceryApp.Models.Cart
<h1>Product Details</h1>
<form method="post">
    <div class="row">
        <div class="col-4">
            <img src="@Model.Product.ImageUrl" width="200" height="200" />
            <input type="hidden" asp-for="ProductId" />
        </div>
        <div class="col-8">
            <div class="row">
                <label asp-for="Product.Name">Name: @Model.Product.Name</label>
                <label asp-for="Product.Description"> Production Description: @Model.Product.Description</label>
                <label asp-for="Product.Price">Product Price: @Model.Product.Price.ToString(".00")</label>
                <label asp-for="Product.Category">Product Category: @Model.Product.Category.Name</label>
            
                <div class="form-control">
                    <label asp-for="Count"></label>
                    <input asp-for="Count" class="form-control"/>
                    <span asp-validation-for="Count" class="text-dander"></span>
                </div>

                <div class="form-control">
                   <a  asp-action="Index"  class="btn btn-success">Back to List</a>
                   <a type="submit" class="btn btn-primary btn-dark">Add to Cart</a>
                </div>

            </div>
        </div>
    </div>
</form>

